body {
	font-size: 1em;
	font-family: monospace;
}
header h1 {
    display: inline;
}

nav {
    width: 100%;
    margin: 7px 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5371B2;
    border-radius: 5px;

}
nav ul li {
    float: left;
}

nav ul li a:hover{
    background-color: #538CF7;
    color:white;

}
nav ul li a {
    color: #53FFC7;
    display: block;
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
}
/*real*/
article {
    padding: 5px;
    border:5px dotted #f06;
    margin-top: 5px;
}
header {
    padding: 0px;
    text-align: center;
}
section {
    display: inline-block;
    float: left;
    width: 75%;
    padding: 5px;
    border: dashed 2px #0025ff;
    margin-top: 5px;
}
aside {
    display: inline-block;
    float: left;
    width: 15%;
    margin: 0 5px;
    background-color: #f0eaea;
    padding: 5px;
    text-align: center;
    font-style: italic;
    border: double 3px #b200ff;
}

/*footer {
    padding: 5px;
    text-align: center;
    font-weight: bold;
}*/

nav {
    text-align: center;
}
ul  li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}
/*real ends*/
table {
    width: 95%;
    margin: 5px;
    min-height: 400vw;
    border-spacing: 5px;
}
table th {
    min-height: 300px;
}
#main {
    min-height: 400px;

}

#side {
}

.goup {
    position: absolute;
    right: 7px;
    bottom: 57px;
}
.goup a{
    padding:9px;
    background-color: rgba(7,7,7,0.2);
    border-radius: 10%;
    display: block;
    text-decoration: none;
    color: white;
}

footer .foot {
    padding: 5px;
}

footer {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    color:#fff;
}
